@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');

:root {
  --text-font-family: 'Karla';
  --text-font-base: sans-serif;
  --base-weight: 300;
  --heavy-weight: 400;
  --font-size: 14px;
  --font-color: #3C3C3C;
  --red-color: #F54A4A;
  --white-color: #FFFFFF
}

/* Setting base variables */
* {
  font-family: var(--text-font-family), var(--text-font-base);
  font-size: var(--font-size);
  font-weight: var(--base-weight);
  color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
  font-size: 18px;
  font-weight: var(--heavy-weight);
}

a {
  font-size: 18px;
  font-weight: var(--heavy-weight);
}

hr {
 border-top: 1px solid var(--red-color);
}


/* Changing colors of wellpanel */
.well {
  background-color: transparent;
  border-radius: 5px;
  border: 0.5px solid #3C3C3C;
}

/* Artist Card CSS */

.artist-link {
  font-size: 16px;
}


/* UPDATING NAV BAR */
.navbar-default {
  background-color: var(--white-color);
}

.navbar-nav {
  float: right;
}

.navbar-brand {
  height: 100px; 
}

.navbar-default .navbar-nav > li > a {
  font-weight: var(--heavy-weight);
  bottom: 0;
  color: var(--font-color);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .open > a:hover {
  color: var(--red-color);
  background-color: transparent;
}

/* Limiting width of app */
.container-fluid {
  max-width: 1057px;
  margin-left: auto;
  margin-right: auto;
}

/* Changing border of select input */
.selectize-control.single .selectize-input{
  border: 1px solid var(--red-color);
}


