@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');

:root {
  --text-font-family: 'Karla';
  --text-font-base: sans-serif;
  --base-weight: 300;
  --heavy-weight: 400;
  --font-size: 16px;
  --font-color: #3C3C3C;
  --red-color: #F54A4A;
  --white-color: #FFFFFF;
}

/* Setting base variables */
* {
  font-family: var(--text-font-family), var(--text-font-base);
  font-size: var(--font-size);
  font-weight: var(--base-weight);
  color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--heavy-weight);
}

a {
  font-size: 18px;
  font-weight: var(--heavy-weight);
}

hr {
 border-top: 1px solid var(--red-color);
}


/* Changing background colors of wellpanel */
.well {
  background-color: transparent;
}


/* Artist Card CSS */
.artist-card {
  border-radius: 0;
  /*border: 1px solid black;*/
  /*border-color: black;*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.artist-link {
  font-size: var(--font-size);
  color: var(--font-color);
  text-decoration: none;
}

.artist-link:hover, .artist-link:active  {
  font-size: var(--font-size);
  color: var(--red-color);
}

/* Picture Frame */
.picture-frame {
  border:solid 3vmin #3c322e;
  border-bottom-color:#625a57;
  border-left-color:#3c322e;
  border-radius:2px;
  border-right-color:#3c322e;
  border-top-color:#4f4642;
  /*border-radius: 0;
  border: 5px solid black;*/
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.3);
}


/* UPDATING NAV BAR */
.navbar-default {
  background-color: var(--white-color);
}

.navbar-nav {
  float: right;
}

.navbar-brand {
  height: 100px; 
}

.navbar-default .navbar-nav > li > a {
  font-weight: var(--heavy-weight);
  bottom: 0;
  color: var(--font-color);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .open > a:hover {
  color: var(--red-color);
  background-color: transparent;
}

/* Updating Footer */

/* Limiting width of app */
.container-fluid {
  max-width: 1057px;
  margin-left: auto;
  margin-right: auto;
}


